// Use of modules
@use "module-body";


// Use of mixins
@mixin fs ($size) {
    font-size: $size + px;
}

@mixin ml ($size) {
    margin-left: $size + px;
}

@mixin mt ($size) {
    margin-top: $size + px;
}

@mixin mr ($size) {
    margin-right: $size + px;
}

// Use of nesting
.container {

    .container-selector {
        @include mt(160);
        @include ml(90);
        @include fs(20);
    }

    .selector {
        @include mt(90);
        @include ml(90);
        @include fs(18);
        font-weight: bolder;

        #equipoSelect {
            margin-top: 10px;
        }

        select {
            @include fs(16);
            outline: none;

            .default {
                text-align: center;
            }
        }

    }

    .resultados {

        display: none;
        @include mt(100);
        @include ml(80);
        @include fs(30);
        font-weight: bolder;

        span {
            @include mr(9);
            @include ml(9);
        }

    }
}

.container-galeria {
    position: fixed;
    bottom: 0;
    height: 250px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .galeria {
        height: 200px;
        display: inline-flex;

        .image {
            position: relative;
            top: -100px;
            left: -51px;
            width: 61px;
            height: 500px;
            transform: rotate(15deg);
            cursor: pointer;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
            margin: 5px;
            transition: 1s;
        }

        .image:hover {
            transition: 1s;
            background-size: 100px;
        }
    }
}