// Use of modules
@use "module-body";
@use "media-queries";

// Use of extend
%d-flex {
    display: flex;
    justify-content: center;
}

// Use of mixins
@mixin fs ($size) {
    font-size: $size + px;
}

@mixin mt ($size) {
    margin-top: $size + px;
}

// Use of nesting
.container {

    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;

    .img-logo {
        width: 60px;
        height: 70px;
        margin-bottom: 12px;
        @include mt(180);
        transition: 0.2s ease-in-out;
    }

    .logo,
    .title,
    .description {
        text-align: center;
    }

    .description {
        @include mt(40);
    }

    .container-selector {
        @include mt(130);
        @include fs(24);

    }

    .selector {
        @include mt(60);
        @include fs(18);
        @extend %d-flex;
        font-weight: bolder;

        select {
            @include fs(16);
            @include mt(10);
            outline: none;

            .default {
                text-align: center;
            }
        }
    }

    .resultados {

        display: none;
        flex-wrap: wrap;
        font-weight: bolder;
        @include fs(20);
        @include mt(60);

        span {
            margin-right: 9px;
            margin-left: 9px;
        }
    }

    .escudos img {
        width: 27px;
        height: 27px;
        margin-top: 60px;
        margin-left: 3px;
        opacity: 0.5;
        filter: grayscale(50%);
        transition: ease 0.1s;
    }

    img:hover {
        filter: none;
        opacity: 1;
    }

    .col {
        flex-wrap: wrap;
    }

}